body {
    background-color: #FFF9F4;
}
div {
    padding-top: 15px;
}
#h6 {
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
}
p {
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.hidden {
    display: none;
}
