body {
    background-color: #FFF9F4;
}
div {
    padding-top: 15px;
}
h6 {
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65px
}
p {
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px
}

