body {
    background-color: #FFF9F4;
}
div {
    padding-top: 15px;
}
#h6 {
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}
#h5 {
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}
p {
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.hidden {
    display: none;
}
.delete {
    position: absolute;
    top: 0px;
    right: 5px;
    height: 10px;
    width: 10px;
    padding: 0;
    border: none;
    background: none;
}